/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --color-pink: #edc1c1;
    --color-green: #c1dced;
}

body {
    touch-action: manipulation;
}




